*.bbl
*.blg
*.log
*.aux
*.toc
*.fff
*.ent
*.ttt
*.out
*.efsuppfigure
*.efsupptable
*.synctex.gz
*.diff.tex
*.bak
.DS_Store
images/.DS_Store
data/.DS_Store
"Icon\r"
*Icon*
.Rapp.history
old/
*.fdb_latexmk
*.fls
analyses/.RData
analyses/.Rhistory
~$*
analyses/cvx.init.aln.fasta
analyses/cvx.njtree.nwk
analyses/cvx.seq.metadata.csv
