*.bbl
*.blg
*.log
*.aux
*.toc
*.fff
*.ent
*.ttt
*.out
*.dvi
*.efsuppfigure
*.efsupptable
*.synctex.gz
*.diff.tex
*.bak
.DS_Store
"Icon\r"
*Icon*
.Rapp.history
old/
*.fdb_latexmk
*.fls
.RData
.Rhistory
~$*
alexasandbox
figures/previous_versions/
alexascript4.6.21.txt
.RData
cvx-cactaceae.pdf
objects.for.phylo.RData
cvx-cactaceae-si.pdf
