*.bbl
*.blg
*.log
*.aux
*.toc
*.fff
*.ent
*.ttt
*.out
*.efsuppfigure
*.efsupptable
*.synctex.gz
*.diff.tex
*.bak
.DS_Store
"Icon\r"
*Icon*
.Rapp.history
old/
*.fdb_latexmk
*.fls
.RData
.Rhistory
~$*
manuscriptalexa/cvx-cactaceae.pdf
analyses/cvx.init.aln.fasta
analyses/cvx.njtree.nwk
analyses/cvx.seq.metadata.csv
data/data_v1/viral_translation_table_updated_names.csv
alexascript4.6.21.txt
